<div class="card" id="shot" name="map">
    <div class="card-body">

        <p>map should display</p>
        <div id="map">
            <iframe frameborder="0" style="border:0; width: 100%;height:300px;" src="" allowfullscreen></iframe>
        </div>
    </div>
</div>