<div class="card" id="shot">
	<div class="card-body">
		<h3 id="stop">Stop the Spread</h3>
		<img src="/assets/img/stopspread.jpg" class="img-fluid" alt="stop the spread" id="stopSpread">
	
	</div>
</div>