.jumbotron{
  background-color: #4dc6fb; 
  color: white; 
  text-align: center; 
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 90px; 
}

.lead{ 
  font-size: 30px; 
}

body {
font-family: 'Open Sans Condensed', sans-serif;
}

#signup, #welcome, #statedata {
  text-align: center; 
  font-size: 45px;
}

form.signup,
form.login {
  margin-top: 50px;
  font-size: 20px; 
}

.btn{
  background-color: #4dc6fb;
  color: white; 
  text-align: center; 
  border: white; 
  font-size: 20px; 
}

.btn:hover{
  background-color: #d34951; 
  color: white;
}

img {
  height: 40%; 
}

#stopSpread {
  height: 300px; 
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

#stop {
  text-align: center; 
  font-size: 40px;
  margin-bottom: 15px; 
}

.userName {
  text-align: center; 
}

#caseCard {
  height: 54%;
  text-align: center; 
  font-size: 20px; 
}

.row {
  margin-top: 15px;
  margin-bottom: 15px; 
}

#img1,#img2,#img3 {
  height: 100px; 
  display: block; 
  margin-left: auto;
  margin-right: auto;

}

#maptitle {
  text-align: center; 
}

#mapsub {
  text-align: center; 
  font-size: 20px;
}

li {
  font-size: 30px; 
}

.card {
  border: white; 
}

#data {
  font-size: 27px; 
  text-align: center;
}

/* colors from the mascot image if we like them
  red color: #d34951;
  orange color: #f89f62; 
  yellow color:  #f6f579; 
  colors from warning thing 
  #79021a;
  #d9002b;
  #ff9600 
  #ffc900
  #00d473

font families downloaded 
font-family: 'Amatic SC', cursive;
font-family: 'Arsenal', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/