.jumbotron{
  background-color: #4dc6fb; 
  color: white; 
  text-align: center; 
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 90px; 
}

.lead{ 
  font-size: 30px; 
}

body {
font-family: 'Open Sans Condensed', sans-serif;
}

#signup, #welcome, #statedata {
  text-align: center; 
  font-size: 45px;
}

form.signup,
form.login {
  margin-top: 50px;
  font-size: 20px; 
}

.btn{
  background-color: #4dc6fb;
  color: white; 
  text-align: center; 
  border: white; 
  font-size: 20px; 
}

.btn:hover{
  background-color: #d34951; 
  color: white;
}

img {
  height: 40%; 
}

#stopSpread {
  height: 300px; 
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

#stop {
  text-align: center; 
  font-size: 40px;
  margin-bottom: 15px; 
}

.userName {
  text-align: center; 
}

#caseCard {
  height: 54%;
  text-align: center; 
  font-size: 20px; 
}

.row {
  margin-top: 15px;
  margin-bottom: 15px; 
}

#img1,#img2,#img3 {
  height: 100px; 
  display: block; 
  margin-left: auto;
  margin-right: auto;

}

#maptitle {
  text-align: center; 
}

#mapsub {
  text-align: center; 
  font-size: 20px;
}

li {
  font-size: 30px; 
}

#returnBtn,
#newUser {
  margin: 0;
  position: relative;
  display: block;
  top: 10%;
  left: 56%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
.card {
  border: white; 
}

#data {
  font-size: 27px; 
  text-align: center;
}