<div class="row">
  <h1 id="welcome">Welcome Back!</h1>
  <div class="col-4">
    <img src="/assets/img/vaxynepng.png">

    <button class="btn btn-success" id = "newUser" onclick="window.location.href='/'">New User?</button>

  </div>
  <div class="col-8">

<form class="login" method="GET" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email-input" placeholder="Email" name="email">
  </div>

  <br><button type="submit" class="btn btn-default" id="logIn">Check Your State's Status</button>
</form>
</div>
<script src="/assets/js/returninguser.js"></script>