    <div class="card text-center">

        <div class="card-body">
          <h3 class="card-title">Hi {{person.first_name}} </h3>
          <h6 class="card-text">Active Cases in : <span id="cases"></span></h6>
          <a href="#" class="btn btn-warning" id="riskLevelMed"></a>
          <a href="#" class="btn btn-danger" id="riskLevelHigh"></a>
          <a href="#" class="btn btn-success" id="riskLevelLow"></a> 
          <h6>Are you Eligible?</h6> 
        </div>
      

      </div>
      {{!-- <script> const key = {{ covidactnow }} </script> --}}