<div class="col-6" id="vaccinedata">
  <p>List below shows first names for other Vax-Track users in your state</p>
<ul>
    {{#each person}} 
  <li> {{dataValues.first_name}} {{dataValues.age}} </li>
    {{/each}}
</ul>
    
</div>